<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Website StuntCare"/>
    <link rel="icon" href="favicon.ico" sizes="48x48" />
    <link rel="manifest" href="./app.webmanifest" />
    <title>StuntCare</title>
  </head>
  <body>
    <a
      class="skip2content"
      aria-label="button skip to button"
      tabindex="0"
      href="#mainContent"
      >Lewati menuju konten</a
    >
    <header>
      <navbar-nih></navbar-nih>
    </header>
    <main id="mainContent"></main>
    <footer-gaming></footer-gaming>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
